  __pycache__/                                                                                                                                            
  *.pyc                                                                                                                                                   
  .env                                                                                                                                                    
  allure-results/                                                                                                                                     
  .pytest_cache/                                                                                                                                          
